body {
  background: linear-gradient(180deg, #FFF5E5 0%, #FDDDE9 48.96%, #F8E8FF 100%);

  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
